.transaction-list__search input,
.transaction-list__search input:focus {
  background-color: transparent;
  border: 0;
  border-color: transparent;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
  width: 100%;
}
