.transaction-list {
  background: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
}

.transaction-list__header {
  background-color: #31858b;
  color: #f9f9f9;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 1px 0;
  width: 100%;
}

.transaction-list__listing ul {
  border: 2px solid #ccc;
  border-top: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.transaction-list__listing {
  padding: 1.1rem 1rem;
}
