<div class="transaction-list__sorting">
  <span>Sort by</span>
  <button aria-label="Sort by date" (click)="sortData('date')">
    DATE <span *ngIf="sortColumn === 'date'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
  </button>
  <button aria-label="Sort by beneficiary" (click)="sortData('beneficiary')">
    BENEFICIARY <span *ngIf="sortColumn === 'beneficiary'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
  </button>
  <button aria-label="Sort by amount" (click)="sortData('amount')">
    AMOUNT <span *ngIf="sortColumn === 'amount'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
  </button>
</div>
