/* Fonts */
@import url('https://fonts.google.com/specimen/Kanit');

body {
  /* background-image: url("/peachtree-bank/assets/images/background.jpg"); Use this rule when deploying project */
  background-image: url("/assets/images/background.jpg"); /* Use this on development */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Kanit", sans-serif;
  min-height: 100vh;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
